<?xml version="1.0"?>
<!-- /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="transbank_onepay" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>OnePay</label>

                <comment>
                    <![CDATA[<img src="https://web2desa.test.transbank.cl/tbk-ewallet-client-portal/static/images/logo-tarjetas.png" width="150" height="65" ><br/><br/>]]>
                </comment>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="environment" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Endpoint</label>
                    <source_model>Transbank\Onepay\Model\Config\Environment</source_model>
                </field>

                <field id="apiKeyIntegration" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>APIKey Integración</label>
                    <comment>Identificador Unico de API</comment>
                </field>
                <field id="sharedSecretIntegration" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shared Secret Integración</label>
                    <comment>Codigo Secreto Unico de Comercio</comment>
                </field>

                <field id="apiKeyProduction" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>APIKey Producción</label>
                    <comment>Identificador Unico de API</comment>
                </field>
                <field id="sharedSecretProduction" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shared Secret Producción</label>
                    <comment>Codigo Secreto Unico de Comercio</comment>
                </field>

                <field id="logoUrl" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Url del logo del comercio</label>
                    <comment>Url del logo del comercio</comment>
                </field>

                <field id="diagnosticButton" translate="label" type="button" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <frontend_model>Transbank\Onepay\Block\System\Config\DiagnosticButton</frontend_model>
                </field>

            </group>

        </section>
    </system>
</config>
