<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <transbank_onepay>
                <active>1</active>
                <model>Transbank\Onepay\Model\Onepay</model>
                <order_status>pending</order_status>
                <title>Onepay</title>
                <allowspecific>0</allowspecific>
            </transbank_onepay>
        </payment>
    </default>
</config>
