<?xml version="1.0"?>
<!-- /** * Copyright © 2015 Magento. All rights reserved. * See COPYING.txt for license details. */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="payment">
      <group id="ewallet" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>OnePay</label>

        <comment>
          <![CDATA[<img src="https://web2desa.test.transbank.cl/tbk-ewallet-client-portal/static/images/logo-tarjetas.png" width="150" height="65" ><br/><br/>]]>
        </comment>

        <field id="active" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Enabled</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>

        <field id="environment" name="environment" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Ambiente a Utilizar</label>
          <source_model>Transbank\Onepay\Model\Config\Source\Environment</source_model>
          <comment>
            <![CDATA[
                            <script type='text/javascript'>

                            var onchange = document.querySelector('select[id*="ewallet_environment"]')

                            onchange.setAttribute("onchange", "validateSelect()");

                            function validateSelect() {

                                var value = document.querySelector('select[id*="ewallet_environment"]').value;

                                var appkey  = '1a0c0639-bd2f-4846-8d26-81f43187e797';
                                var apikey =  'dKVhq1WGt_XapIYirTXNyUKoWTDFfxaEV63-O5jcsdw';
                                var secret =  '?XW#WOLG##FBAGEAYSNQ5APD#JF@$AYZ';

                                if (value != "INTEGRACION"){

                                    document.querySelector('input[id*="ewallet_appkey"]').value  = "";
                                    document.querySelector('input[id*="ewallet_secret"]').value    = "";
                                    document.querySelector('input[id*="ewallet_apiKey"]').value     = "";

                                } else {

                                    document.querySelector('input[id*="ewallet_appkey"]').value = appkey;
                                    document.querySelector('input[id*="ewallet_secret"]').value   = secret;
                                    document.querySelector('input[id*="ewallet_apiKey"]').value    = apikey;

                                }
                            }
                            </script>
                            ]]>
          </comment>
        </field>
        <!-- -->
        <!-- Codigo de Comercio -->
        <field id="appKey" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>App Key</label>
          <comment>Identificador Unico de la Aplicacion</comment>
        </field>
        <!-- Llave Privada -->
        <field id="apiKey" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>API Key</label>
          <comment>Identificador Unico de API</comment>
        </field>
        <!-- Llave de Plugin -->
        <field id="secret" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Secreto Compartido</label>
          <comment>Codigo Secreto Unico de Comercio</comment>
        </field>

        <field id="sucefully_pay" name="sucefully_pay" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Status Pago Exitoso</label>
          <source_model>Transbank\Onepay\Model\Config\Source\OrderStatus</source_model>
        </field>

        <field id="error_pay" name="error_pay" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Status Pago Erroneo</label>
          <source_model>Transbank\Onepay\Model\Config\Source\OrderStatus</source_model>
        </field>

        <!--<field id="order_status" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1"> <label>New Order Status</label>
        <source_model>Transbank\Onepay\Model\Config\Source\Order\Status\PendingPayment</source_model> </field> -->

        <field id="order_status" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>New Order Status</label>
          <source_model>Magento\Sales\Model\Config\Source\Order\Status\NewStatus</source_model>
        </field>

        <field id="sort_order" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
          <label>Sort Order</label>
          <frontend_class>validate-number</frontend_class>
        </field>
      </group>
      <!-- payment-group -->
    </section>
  </system>
</config>
